#main {
  height: 100vh;
}

.maparea {
  background-color: white;
  border-radius: 15px;
}
.kortti, .map {
  border-radius: 10px;
  transition: all .4s ease-in-out;
}
.kortti:hover {
  background-color: #ccc;
  cursor: pointer;
}

.uutispalkki {
  overflow-y: scroll;
  height: 80vh;
}
