* {
  font-family: 'Roboto', sans-serif;
}

#main {
  height: 100vh;
}
table{
  
  
}
h3, table tr:nth-of-type(odd) {
  background-color: #faf8f8;
}
h3, th, td {
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

.maparea {
  background-color: white;
  border-radius: 0px;
}
.kortti, .map {
  border-radius: 10px;
  transition: all .4s ease-in-out;
}
.kortti:hover {
  background-color: #ddd; 
}

.listapalkki {
  overflow-y: scroll;
}

.listapalkki input {
  width: 100%;
}

.uutispalkki {
  overflow-y: scroll;
  padding-top: 10px;
  height: 85vh;
  border-left: 1px solid #28a745;
}

.linkki {
  color:blue;
  cursor: pointer;
  text-decoration: none;
}

.linkki:hover {
  text-decoration: underline;
}
