body {
    margin: 0;
    background-color: #f6f8fb;
  }
  
#top-nav div {
    background-color: #2c2c2c;
}
  
.nav-link {
    color: rgb(255, 255, 255, .75) !important;
    font-size: 1.05rem;
}

.nav-link:hover {
    color: white !important;
}

#seprator {
    height: 5px;
    margin-top: 0;
    background-color: #ffc107;
}